.home{
 
display: flex;
flex-direction: column;
gap: 20px;
.catHome{
  
    width: 1400px;
    height: max-content;
    align-items: center;
    justify-content: space-around;
   margin: 0 auto;
   margin-top: 90px;

   
}
}