.gig {
  display: flex;
  justify-content: center;
  .container {
    width: 1400px;
    padding: 30px 0px;
    display: flex;
    gap: 50px;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .breadcrumbs {
        font-weight: 300;
        font-size: 13px;
        color: #555;
      }
      h1 {
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        .pp {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid green;
        }
        span {
          font-size: 14px;
          font-weight: 500;
          color: black;
        }
        .stars {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 14px;
            height: 14px;
          }

          span {
            font-size: 14px;
            font-weight: bold;
            color: #ffc108;
          }
        }
      }
      .sliders {
        
        .im {
            width: 300px;
            height: 400px;
          max-height: 500px;

          object-fit: contain;
        }
      }
      h2 {
        font-weight: 400;
      }
      p {
        font-weight: 300;
        color: #555;
        line-height: 25px;
      }
      .seller {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .user {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
          .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .stars {
              display: flex;
              align-items: center;
              gap: 5px;

              img {
                width: 14px;
                height: 14px;
              }

              span {
                font-size: 14px;
                font-weight: bold;
                color: #ffc108;
              }
            }

            button {
              background-color: white;
              border-radius: 5px;
              border: 1px solid gray;
              cursor: pointer;
              padding: 10px;
            }
          }
        }
        .box {
          border: 1px solid lightgray;
          border-radius: 5px;
          padding: 20px;
          margin-top: 20px;

          .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .item {
              width: 300px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-bottom: 20px;

              .title {
                font-weight: 300;
              }

              .desc {
              }
            }

            hr {
              height: 0;
              border: 0.5px solid lightgray;
              margin: 50px 0px;
            }
          }
          p {
            font-weight: 300;
            color: rgb(125, 9, 9);
            line-height: 25px;
          }
        }
      }
      .reviews {
        display: flex;
        flex-direction: column;

        .item {
          display: flex;
          flex-direction: column;

          gap: 10px;
          .user {
            display: flex;
            align-items: center;
            .pp {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
            }
            .info {
              display: flex;

              flex-direction: column;
              gap: 10px;
              .country {
                display: flex;
                align-items: center;
                gap: 5px;
                img {
                  height: 14px;
                  width: 14px;
                }
              }
            }
          }
          .stars {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
              width: 14px;
              height: 14px;
            }

            span {
              font-size: 14px;
              font-weight: bold;
              color: #ffc108;
            }
          }
          .helpful {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
              font-weight: 500;
              font-size: 16px;
            }
            img {
              height: 10px;
              width: 10px;
            }
          }
        }
        hr {
          height: 0;
          border: 0.5px solid lightgray;
          margin: 50px 0px;
        }
      }
    }
    .rights {
      flex: 1;
      border: 1px solid lightgray;
      padding: 20px;
      border-radius: 5px;
      margin-top: 5px;
      flex-direction: column;
      gap: 20px;
      position: sticky;
     top: 190px;
      height: max-content;
      max-height: 500px;
      max-width: 600px;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          font-weight: 300;
        }
        h3 {
          font-weight: 500;
        }
        p {
          color: gray;
          margin: 10px 0;
        }
      }
      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 10px;
          }
        }
      }
      .featuredd {
       display: flex;
       flex-direction: column;
       gap: 10px;
       margin: 20px;
        .items{
          display: flex;
         align-items: center;
         gap: 10px;
         
         font-weight: 300;
         color: gray;
            img{
            width: 14px;
            height: 14px;
            }
          
        }
      }
      button{
        background-color: #1dbf73;
        padding: 10px;
        color: white;
        border: none;
        width: 500px;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }
}
