*{
    .link{
        text-decoration: none;
        color: inherit;
    }
    body{
        margin: 10px 0px;

        font-family: 'Nunito', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Quicksand', sans-serif;
        
    }
   
    }



